{% extends "@CorerelyMessengerMonitor/base.html.twig" %}

{% block content %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Transport name
                </th>
                <th scope="col" class="px-6 py-3">
                    Messegaes count
                </th>
            </tr>
            </thead>
            <tbody>
            {% for name, messagesCount in receiversInfo %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ name }}
                    </th>
                    <td class="px-6 py-4">
                        {{ messagesCount }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

    <blockquote class="p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
        <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">Failed transport</p>
    </blockquote>

    {% for label, messages in app.flashes(['corerely.messenger_monitor.success', 'corerely.messenger_monitor.error']) %}
        {% for message in messages %}
            {% set color = label == 'corerely.messenger_monitor.success' ? 'green' : 'red' %}
            <div class="p-4 mb-4 text-sm text-{{ color }}-800 rounded-lg bg-{{ color }}-50 dark:bg-gray-800 dark:text-{{ color }}-400 border border-{{ color }}-300"
                 role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Class
                </th>
                <th scope="col" class="px-6 py-3">
                    Failed at
                </th>
                <th scope="col" class="px-6 py-3">
                    Error
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for message in failedMessages %}
                {% set bodyId = 'accordion-message-errors-body-' ~ message.id %}
                {% set headingId = 'accordion-message-errors-heading-' ~ message.id %}

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ message.id|default('--') }}
                    </th>
                    <td class="px-6 py-4">
                        {{ message.class|default('--') }}

                        {% if message.objectVars %}
                            {% include '@CorerelyMessengerMonitor/messages_monitor/_show_more_button.html.twig' %}
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ message.failedAt is empty ? '--' : message.failedAt|date('Y-m-d H:i:s') }}
                    </td>
                    <td class="px-6 py-4">
                        {{ message.lastError }}

                        {% if message.restOfErrors is not empty %}
                            {% include '@CorerelyMessengerMonitor/messages_monitor/_show_more_button.html.twig' %}
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        {% if message.id is not empty %}
                            <form action="{{ url('corerely.messenger_monitor.failed_message.retry', { id: message.id }) }}" method="post">
                                <a href="javascript:{}" onclick="this.closest('form').submit()"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Retry</a>
                            </form>
                            <form action="{{ url('corerely.messenger_monitor.failed_message.reject', { id: message.id }) }}" method="post">
                                <a href="javascript:{}" onclick="return confirm('Are you sure?') ? this.closest('form').submit() : false"
                                   class="font-medium text-red-600 dark:text-red-500 hover:underline">Reject</a>
                            </form>
                        {% endif %}
                    </td>
                </tr>

                <tr id="{{ bodyId }}" aria-labelledby="{{ headingId }}"
                    class="hidden bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td colspan="3" class="px-6 py-4 align-top">
                        <pre>{{ message.objectVars|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                    </td>
                    <td colspan="2" class="px-6 py-4 align-top">
                        <div class="mt-2">
                            <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                                {% for error in message.restOfErrors %}
                                    <li>
                                        <p class="mb-2 text-gray-500 dark:text-gray-400">{{ error }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        // Accordion
        (function () {
            const buttons = document.querySelectorAll('button[data-accordion-target]');

            buttons.forEach(button => {
                button.addEventListener(('click'), () => {
                    const target = document.querySelector(button.getAttribute('data-accordion-target'));

                    target.classList.toggle('hidden');
                    button.setAttribute('aria-expanded', target.classList.contains('hidden') ? 'false' : 'true');
                });
            });
        })();
    </script>
{% endblock %}
